.route .line {
	width: 50%;
	height: 8px;
}

.route .line-left {
	left: 0;
}

.route .line-right {
	right: 0;
}

.route .curve {
	width: 50%;
	height: 54%;
	border: 8px solid #f44336;
}

.route .curve-below {
	top: 46%;
}

.route .curve-above {
	top: 0;
}

.route .curve-left {
	left: 10px;
}

.route .curve-right {
	right: 10px;
}

.route .curve-above-left {
	border-radius: 0 0 0 150px;
	border-top: unset;
	border-right: unset;
}

.route .curve-above-right {
	border-radius: 0 0 150px;
	border-top: unset;
	border-left: unset;
}

.route .curve-below-left {
	border-radius: 150px 0 0;
	border-right: unset;
	border-bottom: unset;
}

.route .curve-below-right {
	border-radius: 0 150px;
	border-left: unset;
	border-bottom: unset;
}

@media (max-width: 576px) {
	.bus-route {
		padding: .5rem;
	}
}

@media (min-width: 576px) {
	.bus-route {
		padding: .5rem 10%;
	}
}

.bus-stop-point {
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ff4343;
	background-color: white;
	border-radius: 50%;
	border: .2rem solid #ff4343;
	cursor: pointer;
}

.bus-stop-point i {
	font-size: 18px!important;
}

.bus-stop-point.info {
	background: unset;
}

.bus-stop-point.info:before,
.bus-stop-point.info:after,
.bus-stop-point.ripple:before,
.bus-stop-point.ripple:after {
	content: '';
	display: block;
	position: absolute;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	background-color: #ff4343;
	border-radius: 50%;
}

.bus-stop-point.info:before,
.bus-stop-point.info:after {
	background: unset;
}


.bus-stop-point.info:before,
.bus-stop-point.ripple:before {
	animation: ripple 2s linear infinite;
}

.bus-stop-point.info:after,
.bus-stop-point.ripple:after {
	animation: ripple 2s linear 1s infinite;
}

@keyframes ripple{
	0% { transform: scale(1.2); opacity: .5}
	25% { transform: scale(1.4); opacity: .4}
	50% { transform: scale(1.6); opacity:.3; }
	75% { transform: scale(1.8); opacity:.2; }
	100% { transform: scale(2); opacity: 0; }
}
