.curve-top {
	width: 50%;
	height: 52%;
}

.route .line {
	width: 50%;
}

.route .left {
	left: 0;
}

.route .right {
	right: 0;
}

.route > .col-6:nth-child(2n) .curve-top {
	top: 48%;
	right: 10px;
	border-radius: 0 150px;
	border-right: 4px solid #f44336;
	border-top: 4px solid #f44336;
	border-bottom: unset;
}

.route > .col-6:nth-child(4n) .curve-top {
	top: 0;
	right: 10px;
	border-radius: 0 0 150px 0;
	border-right: 4px solid #f44336;
	border-bottom: 4px solid #f44336;
	border-top: unset;
}

.route > .col-6:nth-child(2n+1) .curve-top {
	top: 48%;
	left: 10px;
	border-radius: 150px 0 0;
	border-left: 4px solid #f44336;
	border-top: 4px solid #f44336;
	border-right: unset;
	border-bottom: unset;
}

.route > .col-6:nth-child(4n+1) .curve-top {
	top: 0;
	right: 10px;
	border-radius: 0 150px 0;
	border-left: 4px solid #f44336;
	border-bottom: 4px solid #f44336;
	border-top: unset;
	border-right: unset;
}

@media (max-width: 576px) {
	.bus-route {
		padding: .5rem;
	}
}

@media (min-width: 576px) {
	.bus-route {
		padding: .5rem 10%;
	}
}

.bus-stop-point {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	border-radius: 50%;
	background-color: #ff4343;
	cursor: pointer;
}

.bus-stop-point i {
	font-size: 18px!important;
}

.bus-stop-point.info {
	background: unset;
}

.bus-stop-point.info:before,
.bus-stop-point.info:after,
.bus-stop-point.ripple:before,
.bus-stop-point.ripple:after {
	content: '';
	display: block;
	position: absolute;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0;
	background-color: #ff4343;
	border-radius: 50%;
}

.bus-stop-point.info:before,
.bus-stop-point.info:after {
	background: unset;
}


.bus-stop-point.info:before,
.bus-stop-point.ripple:before {
	animation: ripple 2s linear infinite;
}

.bus-stop-point.info:after,
.bus-stop-point.ripple:after {
	animation: ripple 2s linear 1s infinite;
}

@keyframes ripple{
	0% { transform: scale(1.2); opacity: .5}
	25% { transform: scale(1.4); opacity: .4}
	50% { transform: scale(1.6); opacity:.3; }
	75% { transform: scale(1.8); opacity:.2; }
	100% { transform: scale(2); opacity: 0; }
}
